/* Stylesheet for Recipes Project */

html {
    background-color: rgba(150, 150, 150, 0.3);
    box-sizing: border-box;
    font-family: Verdana, Arial, Sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 980px;
    margin: 0 auto;
    background:rgb(255, 255, 255);
}

.header,
.footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
    border: 2px solid rgba(150, 150, 150, 0.3);
    margin: 0 auto;
    padding: 10px;
}

.header {
    text-align: center;
    font-size: 40px;
}

.footer {
    font-size: 14px;
}

img {
    width: 490px;
}

.center-block {
    width: 490px;
    margin: 0 auto;
}

.main-nav {
    margin: 0 auto;
    width: 530px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
}

.main-nav li {
    margin: 0 auto;
}

.no-link-deco,
.no-link-deco:visited,
.no-link-deco:hover,
.no-link-deco:active {
    color: inherit;
}

.no-link-deco,
.main-nav a {
    text-decoration: none;
}

.main-nav a {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: 2px solid rgba(150, 150, 150, 0.3);
}

.main-nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}