/* Stylesheet for Recipes Project */

html {
    background-color: rgba(150, 150, 150, 0.3);
    box-sizing: border-box;
    font-family: Verdana, Arial, Sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 980px;
    background-color: rgba(0, 0, 0, 0.1);
}

.header,
.footer {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.main-content h1,
.main-content h2,
.main-content h3 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border: 2px solid rgba(150, 150, 150, 0.3);
}

.main-content p,
.main-content ul,
.main-content ol {
    padding: 30px;
}

.main-content h1 {
    text-align: center;
}

.header,
.footer,
.main-nav a {
    border: 2px solid rgba(150, 150, 150, 0.3);
}

.header {
    text-align: center;
    font-size: 40px;
}

.footer {
    font-size: 14px;
}

img,
.center-block {
    width: 490px;
}

body,
.header,
.footer,
.center-block,
.main-nav,
.main-nav li {
    margin: 0 auto;
}

.main-nav {
    width: 530px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
}

.no-link-deco,
.no-link-deco:visited,
.no-link-deco:hover,
.no-link-deco:active {
    color: inherit;
}

.no-link-deco,
.main-nav a {
    text-decoration: none;
}

.main-nav a {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
}

.main-nav a:hover {
    background-color: rgb(255, 255, 255);
}

.header,
.footer,
.main-nav a,
.main-nav a:hover {
    color: rgb(0, 0, 0);
}